
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "ManageUsers";
}
@model List<(ApplicationUser user, string role)>

<h1>ManageUsers</h1>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            var user = Model[i];
            <tr>
                <td>@(i + 1)</td>
                <td>@Model[i].user.Email</td>
                <td>@Model[i].user.FirstName</td>
                <td>@Model[i].user.LastName</td>
                <td>@Model[i].role</td>
                <td>
                    <button class="btn btn-sm btn-outline-danger">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>