@model DreamDay.Models.Wedding

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Wedding</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeddingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeddingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGuests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalGuests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullBudget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullBudget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Planner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Planner.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
