@model IEnumerable<DreamDay.Models.Wedding>

@{
    ViewData["Title"] = "WeddingList";
    Layout = "~/Views/Shared/_PlannerLayout.cshtml";
}

<h1>WeddingList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WeddingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullBudget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WeddingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalGuests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullBudget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FullName)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">View Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
